/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: white;
  font-family: Arial;
  font-size: 1.6em;
  text-shadow: 8px 8px 12px magenta;
}
/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  /*Her styles teksten.*/
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 300;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/
  color: green;
  text-indent: 1em;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px greenyellow;
}
.box3 .content p::first-letter {
  font-size: 225%;
  color: #2f63f7;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  /*Her styles teksten*/
  color: red;
  font-size: 1.3em;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 4em;
  font-weight: normal;
  color: rgb(252, 194, 88);
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: nyFont;
  src: url("russiano/russiano-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  color: rgb(194, 42, 42);
  font-family: nyFont;
  font-size: 3em;
  font-weight: 100;
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  color: #1083cc;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
  color: rgba(164, 0, 250);
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.7em;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: rgb(225, 238, 188);
  font-size: 1.15em;
  line-height: 1.5em;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  background-color: rgb(238, 252, 250);
  font-size: 1.3em;
  letter-spacing: 0.02em;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: orangered;
  text-decoration: none;
  font-weight: 600;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/himmel.jpeg");
  background-color: #cccccc;
  background-size: 100%;

  /*Her styles teksten*/
  font-size: 2em;
  font-weight: 600;
  color: rgb(170, 0, 0);
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 4em;
  font-weight: 600;

  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/himmel.jpeg");
  background-color: #cccccc;
  background-size: 100%;
  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: linear-gradient(rgb(252, 56, 252), rgb(252, 207, 110), red);
  /*Her styles teksten*/
  font-size: 1.8em;
  font-style: italic;
  color: white;
  text-align: right;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/
  background: #faa346;
  background: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/blomst.png"), linear-gradient(90deg, rgba(250, 163, 70, 1) 0%, rgba(199, 87, 195, 1) 50%, rgba(83, 206, 237, 1) 100%), transparent;
  /* størrelse på de to baggrunde separeret af komma */
  background-size: 25%, 100%;
  /* skal baggrundsbilledet gentages? */
  background-repeat: no-repeat, no-repeat;
  /* Hvor skal baggrundsbilledet placeres? */
  background-position: bottom right, center;
  /*Her styles teksten*/
  font-size: 1.3em;
  color: white;
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: repeating-radial-gradient(circle at 0 0, black, maroon 20px, pink 30px, white 40px);
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/himmel.jpeg");
  background-color: #cccccc;
  background-size: 100%;
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/blomst.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*Baggrundsfarve*/
  background-color: rgb(252, 221, 119);
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed rgb(255, 0, 255);

  /*Indsæt blomsten med background-image og background-size*/
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/blomst.png");
  background-size: 100%;
  background-repeat: no-repeat;

  /*Baggrundsfarve*/
  background-color: rgba(252, 221, 119, 0.548);
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/blue.jpeg");
  background-size: 100%;
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/
  width: 100px;
  height: 100px;
  /*Indsæt blomsten med background-image og background-size*/
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/bg_images/blomst.png");
  background-size: 100%;
  background-repeat: no-repeat;

  /*Brug filter så blomsten får en sepia toning*/
  filter: sepia(100%);
}
.box19 .content {
  /*-------------------------------boks 19--------------------------------*/
  /*Her kan du lave din egen styling*/
  background-color: #013c1a;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  text-shadow: #57a9f1;
  color: #bcbbff;
}

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
.box20 .content {
  display: flex;
  justify-content: left;
  /*Her indsættes gradient vha. background-image*/
  background-image: linear-gradient(to bottom, #78e8ea, #72eadd, #76ebcc, #82ebb8, #93eaa3, #77e6a5, #53e2a9, #00ddae, #00d0d8, #00bdfc, #00a4ff, #5f81fb);
  background-size: 100%;
}
.box20 .content .kvadrat1 {
  width: 180px;
  height: 100px;
  margin-top: 1.5rem;
  margin-left: 0.1rem;
  /*Her styles teksten*/
  font-family: "Playwrite IE", cursive;
  font-size: 1rem;
  font-weight: 800;
  text-align: right;
  text-transform: capitalize;
  color: rgb(7, 7, 7);
}
.box20 .content .kvadrat2 {
  width: 80px;
  height: 80px;
  background-image: url("/Users/piamaagaard1/Desktop/ek/02_web/20_bokse-opgave-stud/boat-clipart-xl.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 2rem;
  margin-top: 1rem;
}
